[submodule "djvue"]
	path = djvue
	url = https://github.com/amustaque97/Vue-Django
[submodule "VUEJS_AND_DJANGO/djvue"]
	path = VUEJS_AND_DJANGO/djvue
	url = https://github.com/amustaque97/Vue-Django
