{% extends 'layout.htm' %}

{% block title%} 
    SKYNET :: HOME
{% endblock %}

{% block main %}
<div class="container-fluid" id="head">
    <div class="container" id="head-content">
        <center>
            <h1 id="heading">Welcome To SKYNET!</h1>
            <p class="lead" id="subheading">Lets Have Some G33K Talk!</p>
        </center>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="col-lg-offset-5">
                <h1>OUR FEATURES</h1>
                <br><br>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <center><i class="fa fa-superpowers fa-5x" aria-hidden="true"></i></center>
                <h1>Experience</h1>
                <p>We will provide you full experienced mentors.</p>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <center><i class="fa fa-ravelry fa-5x" aria-hidden="true"></i></center>
                <h1>Exposure</h1>
                <p>You will get full exposure to the outside world.</p>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <center><i class="fa fa-free-code-camp fa-5x" aria-hidden="true"></i></center>
                <h1>Stuff</h1>
                <p>You will get all the relevant material here.</p>
            </div>
        </div>
    </div>
</div>

<div><br><br></div>
<div class="container-fluid" id="subpart">
        <div class="row">
            <div class="col-lg-12"><br><br><br><br><br></div>
            <div class="col-lg-8 col-lg-offset-2">
                    <blockquote class="blockquote-reverse">
                            <p>Success is going from failure to failure without lossing enthusiasm.</p>
                            <small><cite title="Source Title">Winston Churchill</cite></small>
                    </blockquote>
            </div>
        </div>
</div>
{% endblock %}