body, html
{
	font-family: monospace;
}
.bg-white-smoke
{
	background: whitesmoke;
}
.tools
{
	color:red;
	font-size: 15px;
	transition: width 1s;
	-webkit-transition: color 1s; /* Safari 3.1 to 6.0 */
	-moz-transition: color 1s; /* Safari 3.1 to 6.0 */
}
.tools:hover
{
	text-decoration:none;
	color: blue;
}