<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fa-all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{{ body }}}
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/fa-all.min.js"></script>
    <script src="/js/script.js"></script>
</body>

</html>