.black-white
{
  color: white;
  background: black;
}
.header
{
  font-family: monospace;
  letter-spacing: 3px;
}
.margin-bottom-m15
{
  margin-bottom:-15px;
}
.padding-top-m10
{
  padding-top: -10px;
}
.margin-top-m15
{
  margin-top:-15px;
}
.margin-top-10
{
  margin-top: 10px;
}
.margin-bottom-20
{
  margin-bottom:  20px;
}
.text-center
{
  text-align: center;
}
#portal
{
  font-family: cursive;
  letter-spacing: 4px;
  color:white;
  font-size: 20px;
  font-weight: bolder;
}
#portal::-moz-selection{color:white;background: black;}
#portal::-webkit-selection{color:white;background: black;}
#portal::-o-selection{color:white;background: black;}
