<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Book Shop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample05">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="about(this)">About</a>
            </li>
            {{#if logged}}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">Profile</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown05">
                    <a class="dropdown-item" href="/user/edit">Edit</a>
                    <a class="dropdown-item" href="/user/profile">Dashboard</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/user/logout">Logout</a>
                </div>
            </li>
            {{else}}
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            {{/if}}

        </ul>
    </div>
</nav>
<div class="container" style="margin-top: 25px">
    <div class="row">
        <div class="col-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Signup Form</h3>
                </div>
                <div class="panel-body">
                    <form method="POST" enctype="application/x-www-form-urlencoded">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Name" name="name" type="text">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="E-mail" name="email" type="text">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" name="password" type="password"
                                    value="">
                            </div>
                            <input class="btn btn-lg btn-success btn-block" type="submit" value="Signup">
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-7">
            <center>
                Already Registered ? Login <a href="/login" style="text-decoration: none">here</a>
            </center>
        </div>
    </div>
</div>